/* Global styles */
body {
    font-family: Arial, sans-serif;
    /*font-family: Courier, monospace;*/
    line-height: 1.6;
    max-width: 800px;
    margin: 5px 0 0 5px; /* Reduce top and left margin */
    padding: 5px; /* Reduce padding */
    background-color: #f9f9f9;
    color: #333;
}


h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

h2 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 15px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

/* Link styles */
a {
    text-decoration: none;
    color: #0066cc;
}

a:hover {
    text-decoration: underline;
}

/* Images and videos */
img, video {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
}


/* Responsive video container */
/* Center the iframe horizontally and vertically */
.iframe-container {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    height: 100vh; /* Full viewport height */
}

/* Style the iframe */
iframe {
    max-width: 80%; /* Adjust width as needed */
    height: 80vh; /* Adjust height dynamically */
    border: none;
    /*border: 3px solid black;
    border-radius: 10px;*/
}


.video-container {
    position: relative;
    padding-top: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Navigation links in header */
nav {
    margin-bottom: 20px;
}

nav a {
    margin-right: 10px;
}

/* Project page specific styles */
.project-image {
    margin-bottom: 20px;
}

.project-description {
    font-size: 16px;
    color: #555;
}
